name: Build

on:
  workflow_call:
    outputs:
      image_tag:
        value: ${{ jobs.build.outputs.image_tag }}

jobs:
  build:
    runs-on: ubuntu-latest

    outputs:
      image_tag: ${{ steps.meta.outputs.image_tag }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set image tag
        id: meta
        run: echo "image_tag=${GITHUB_SHA}" >> $GITHUB_OUTPUT

      - name: Build & Push image
        run: |
          docker build -t myapp:${{ steps.meta.outputs.image_tag }} .
          docker tag myapp:${{ steps.meta.outputs.image_tag }} \
            ${{ secrets.ECR_REPO }}:${{ steps.meta.outputs.image_tag }}
          docker push ${{ secrets.ECR_REPO }}:${{ steps.meta.outputs.image_tag }}
