name: Build Docker Image

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    outputs:
      image_uri: ${{ steps.set-image-uri.outputs.IMAGE_URI }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build Docker image
        run: |
          IMAGE_URI="${{ secrets.ECR_REGISTRY }}/my-app:${{ github.sha }}"
          docker build -t $IMAGE_URI .
          echo "IMAGE_URI=$IMAGE_URI" >> $GITHUB_ENV
          echo "::set-output name=IMAGE_URI::$IMAGE_URI"

      - name: Push Docker image to ECR
        run: docker push $IMAGE_URI

      - name: Set output for calling workflow
        id: set-image-uri
        run: echo "IMAGE_URI=${{ env.IMAGE_URI }}" >> $GITHUB_OUTPUT
