name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    uses: ./build.yml
    with:
      aws_region: ap-south-1

  deploy_dev:
    needs: build
    uses: ./deploy.yml
    with:
      aws_region: ap-south-1
      cluster_name: calculator-eks-cluster
      namespace: dev

  deploy_qa:
    needs: build
    uses: ./deploy.yml
    with:
      aws_region: ap-south-1
      cluster_name: calculator-eks-cluster
      namespace: qa
