name: CI/CD Pipeline

on:
  push:
    branches:
      - main
      - develop

jobs:
  dev:
    uses: ./.github/workflows/build.yml
    with:
      environment: dev

  deploy-dev:
    needs: dev
    uses: ./.github/workflows/deploy.yml
    with:
      environment: dev
      image_uri: ${{ needs.dev.outputs.IMAGE_URI }}

  qa:
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/build.yml
    with:
      environment: qa

  deploy-qa:
    if: github.ref == 'refs/heads/main'
    needs: qa
    uses: ./.github/workflows/deploy.yml
    with:
      environment: qa
      image_uri: ${{ needs.qa.outputs.IMAGE_URI }}
