name: EKS CI-CD

on:
  push:
    branches:
      - main

jobs:
  build:
    uses: ./.github/workflows/build.yml

  deploy-dev:
    needs: build
    uses: ./.github/workflows/deploy.yml
    with:
      environment: dev
      image_tag: ${{ needs.build.outputs.image_tag }}

  deploy-stage:
    needs: deploy-dev
    uses: ./.github/workflows/deploy.yml
    with:
      environment: stage
      image_tag: ${{ needs.build.outputs.image_tag }}

  deploy-prod:
    needs: deploy-stage
    uses: ./.github/workflows/deploy.yml
    with:
      environment: prod
      image_tag: ${{ needs.build.outputs.image_tag }}
