name: Deploy to EKS

on:
  workflow_call:
    inputs:
      aws_region:
        required: true
        type: string
      cluster_name:
        required: true
        type: string
      namespace:
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ inputs.aws_region }}

      - name: Update kubeconfig for EKS
        run: |
          aws eks update-kubeconfig --region ${{ inputs.aws_region }} --name ${{ inputs.cluster_name }}

      - name: Deploy to EKS
        run: |
          IMAGE_URI="${{ secrets.ECR_REPO }}:latest"
          NAMESPACE=${{ inputs.namespace }}
          
          # Create namespace if it doesn't exist
          kubectl get namespace $NAMESPACE || kubectl create namespace $NAMESPACE

          # Apply deployment manifests
          kubectl -n $NAMESPACE set image deployment/calculator-deployment calculator=$IMAGE_URI --record
          kubectl -n $NAMESPACE rollout status deployment/calculator-deployment
